*{
    box-sizing: border-box;
}

html{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238C8380' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23978382'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #4d4d4d1c;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}



.Menu a{
    font-family: inherit;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    text-decoration: none;
}

.Menu li{
    display: inline-block;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
  }

.Menu ul{
    text-align: center;
    position: sticky;
    top: 0;
}

.Menu ul li{
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Menu a:hover{
    color: rgb(160, 35, 52);
    text-decoration: underline;
}  

#n1, #n2{
    vertical-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #f34c4cda;
}
#n1{
    margin-bottom: 5px;
}
#n2{
    margin-top: 5px;
}



h1{
    text-transform: uppercase;
    margin: 0;
    font-size: 70px;
    position: relative;
}

.banner-img{
    background-image: url(wall.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}

.banner-text{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;

    background: radial-gradient(#6343076e, rgba(71, 29, 18, 0.61)) ;
    
    color:#fff;
    font-weight: bold;
    border: 10px inset #fff;
}

.banner-text p{
    padding: 0.8%;
    font-family: merienda;
    position: relative;
}

.banner-text p {
    animation: slide-up 5s ease-out;
  }

  @keyframes slide-up {
    0%   { 
    transform: translateY(100%); 		
    }
    100% { 
    transform: translateY(0%); 
    }
   }



table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

tr, td{
    border: 2px #999;
    border-style: inset; 
    padding: 0.5rem;
}

td{
    width: 250px;
}



h6{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.image-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    max-width: 100rem;
}

.image-div{
    flex: 1 0 20rem;
    margin: 0.7rem;
    overflow: hidden;
    transition: 0.3s;
}

#image-item{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

#image-item:hover{
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.download{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: merienda;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
    -webkit-text-fill-color: rgb(109, 31, 31);
}

progress{
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #eee;
}

.file{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}



#name, #em, #nu{
    display: block;
    width: 500px;
    height: 20px;
    padding: 20px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 1px solid #eee;
    transition: .3s border-color;
}

#te{
    display: block;
    width: 500px;
    resize: vertical;
    height: 150px;
    padding: 20px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 1px solid #eee;
    transition: .3s border-color;
}

#submit-button{
    background-color:#f34c4cda ;
    border: none;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    cursor: pointer;
    width: 20%;
    background: linear-gradient(0deg, rgb(160, 35, 52) 0%, rgba(160, 35, 52) 100%);
    box-shadow: rgba(95, 19, 29, 0.747) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(160, 35, 52, 0.836);
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-family: merienda;
}

#submit-button:hover{
    transform: perspective(180px) rotateX(10deg) translateY(2px);
}

#contact{
    display: flex;
    justify-content: center;
}



